* {
	margin: 0;
	padding: 0;
	background-color: white;
	color: #666;
	font-family: Calibri, 'Trebuchet MS', sans-serif
}

body {
	line-height: 2.0em;
	margin-bottom: 20px;
}

a {
	color: #7b5;
}

a:hover {
	color: black;
	text-decoration: none;
}

#content h1 {
	font-size: 2.4em;
	margin: 1ex;
}

#content h2 {
	font-size: 1.8em;
	margin: 0.5ex;
	color: #333;
}

.floatright {
	float: right;
	margin: 10px;
	border: 10px solid whitesmoke;
	box-shadow: 10px 10px grey;
}